* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: salmon;
  
  color: white;
}

body {
  background: var(--backgroun);

  font-family: Arial, ;
}

:root{
  --color1:color salmon;
  --backgroun:salmon;
  --backgraund2:green;
  --transform: scale(1.2);
}

.card {
  width: 300px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  box-shadow: -20px -20px 0px 0px black;
  border-radius: 10px;
  padding-bottom: 7px;
  margin-bottom: 10px auto;
  margin-top: 200px;

 
}

div:hover{
  background: yellow;
  transform: var(--transform);
  box-shadow: -20px -20px 0px 0px navy;
  filter: drop-shadow(10px 10px 2px black);
}

p::first-letter {
  color: salmon;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;

}

p::first-line {
  font-size: 2rem;
  font-weight: bold;


}

ul {
  counter-reset: contador;
}

li {
  margin-bottom: 10px;
  padding: 0px;
  list-style: none;
}

li::before {
  content: counter(contador);
  counter-increment: contador;
  background: var(--backgroun);
  width: 30px;
  height: 30px;
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 4px;

}

.card-title {
  text-align: center;
  border-bottom: 0.5px;
}

h2:hover{
  transform: scale(1.5);
  color: navy;
}

.card-title::before,

.card-title::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 3px;
  padding: 2px;
  background: var(--backgroun);
  margin-bottom: 3px;

}

li:hover{
  transform: scale(1.2);
  background: black;
  color: salmon;
}

.card-title:hover:before,

.card-title:hover::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 3px;
  padding: 2px;
  background: navy;
  margin-bottom: 3px;}